@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes message-swipe {
	0% {
		transform: translate3D(100%, 0, 0) skewX(30deg);
		opacity: 0;
	}
	100% {
		transform: translate3D(0, 0, 0) skewX(0);
		opacity: 1;
	}
}

@layer base {
	.message a:hover {
		text-decoration: underline;
	}

	b {
		font-weight: bold;
	}

	code {
		@apply rounded-md bg-secondary-400 px-1 text-code-neutral;
	}
}

@layer utilities {
	.primary-shadow {
		box-shadow: 0 0 64pt var(--tw-c-primary-500);
	}

	.message {
		tab-size: 2;
	}

	.message-content {
		@apply whitespace-pre-wrap text-wrap break-words;
	}

	.modal-title {
		@apply mb-4 text-center text-3xl font-bold;
	}

	.btn-modal {
		@apply mx-1 block w-fit rounded-md bg-secondary-400 px-6 py-2 transition-colors hover:bg-secondary-300 hover:text-white active:bg-secondary-600;
	}

	.btn-modal.primary {
		@apply bg-primary-500 font-semibold hover:bg-primary-400 active:bg-primary-600;
	}
}

/*Webkit*/
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/*IE, Edge, Firefox*/
.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.keybinds-table {
	grid-template-columns: min-content min-content auto;
	scrollbar-width: 0.75rem;
	scrollbar-color: #abacad;
}

.keybinds-table::-webkit-scrollbar {
	width: 0.75rem;
	background: linear-gradient(to bottom, #9c162d, #232629, #232629, #232629, #1a1c1f);
}

.keybinds-table::-webkit-scrollbar-track {
	border-top-right-radius: 9999px;
	border-bottom-right-radius: 9999px;
}

.keybinds-table::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	background-color: #abacad;
}

.keyboard-key {
	@apply mx-1 cursor-default rounded-md border border-b-4 border-secondary-400 px-1 py-0.5 font-light transition-colors hover:border-secondary-300 hover:bg-secondary-400;
}

/*Zona de texto*/
.code-area {
	@apply bg-secondary-500 font-code text-xs font-normal text-code-neutral sm:text-sm md:text-xs lg:text-sm;
}

.message {
	@apply m-2 min-h-8 max-w-full rounded-md bg-secondary-600 px-2.5 pb-2 pt-1.5 font-extralight;
	animation: message-swipe 250ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.message a {
	@apply text-[#ffa7cc];
}

.message .list-order,
.list-indent {
	@apply inline-block;
}

.message .list-order {
	@apply my-0.5 pr-3 text-right;
}

.message .disclaimer {
	@apply mb-2 mt-0.5 text-sm leading-tight text-secondary-200;
}

.message .spoiler {
	@apply rounded-md bg-secondary-700 px-1 text-secondary-700 hover:cursor-help hover:text-secondary-200;
}

.message .quote {
	@apply my-0 border-l-4 border-l-secondary-400 py-1 pl-2;
}

.message h1,
.message h2,
.message h3 {
	@apply mb-2 mt-5 font-bold;
}

.message h1:first-child {
	@apply mt-0;
}

.message h1 {
	@apply text-xl;
}

.message h2 {
	@apply text-lg;
}

.message.message-embed {
	@apply border-l-4 border-[#1e1f22] pb-3.5 pl-3 pt-4;
}

.message.message-embed .message-embed-hgroup {
	@apply flex flex-row justify-between;
}

.message.message-embed .message-embed-hgroup .message-embed-author {
	@apply mb-2 flex flex-row items-center font-medium;
}

.message.message-embed .message-embed-hgroup .message-embed-author img {
	@apply my-auto mr-2 inline-block h-6 rounded-full;
}

.message.message-embed .message-embed-hgroup .message-embed-title {
	@apply message-content mb-1.5 mt-0 block text-lg font-bold;
}

.message.message-embed .message-embed-hgroup p {
	@apply mb-1.5 text-secondary-100;
}

.message.message-embed table {
	@apply -mt-1.5;
}

.message.message-embed tr > * {
	@apply px-1 py-0 first:pl-0 last:pr-0;
}

.message.message-embed th {
	@apply message-content pb-0.5 pt-2 text-left align-text-top font-medium leading-tight;
}

.message.message-embed td {
	@apply message-content pb-0.5 align-text-top leading-tight text-secondary-100;
}

.message.message-embed .message-embed-footer {
	@apply flex flex-row items-center;
}

.message.message-embed .message-embed-footer > * {
	@apply message-content mb-1 mt-1.5 block text-sm text-secondary-200;
}

.message.message-embed .message-embed-footer > img {
	@apply mr-2 size-5 min-w-5 rounded-full;
}

.message.message-embed img {
	@apply mt-4 rounded-sm;
}

.message .message-icon {
	@apply block pr-2 pt-1;
}

.message.message-error i {
	@apply block pr-2 pt-[0.3125rem];
}

.message.message-error {
	@apply bg-red-800;
}

.message.message-error h2 {
	@apply mb-2 mt-0 text-lg font-semibold text-foreground;
}

.message.message-return {
	@apply bg-accent-600;
}

.message.message-input {
	@apply bg-primary-500;
}

.message.message-input textarea {
	@apply my-1 w-full resize-none overflow-x-hidden rounded-md border-2 border-b-primary-300 border-l-primary-600 border-r-primary-300 border-t-primary-600 bg-primary-500 px-1;
}

.message.message-input textarea:disabled {
	@apply my-0 border-0;
}

.message.message-input button {
	@apply my-1 ml-2 block flex-auto rounded-md bg-primary-100 p-0 py-[7px] pl-2.5 pr-3 text-primary-500 transition-colors duration-100 hover:bg-white active:bg-primary-200;
}

.message.message-input button.sent {
	@apply my-auto h-max bg-primary-500 text-primary-100;
}

.message.message-input button i {
	@apply m-auto;
}

.message.message-text,
.message.message-error,
.message.message-return,
.message.message-input {
	@apply flex flex-row;
}

.cm-s-psdocs.CodeMirror {
	@apply code-area min-h-full rounded-md;
}

#playground > * {
	@apply md:shadow-2xl md:shadow-secondary-700;
}

.CodeMirror-activeline-background {
	@apply border-b-2 border-t-2 border-code-hl-select bg-secondary-500;
}

.cm-s-psdocs div.CodeMirror-selected {
	@apply bg-code-hl-select;
}

.cm-s-psdocs .CodeMirror-selectedtext,
.cm-s-psdocs .CodeMirror-selected,
.cm-s-psdocs .CodeMirror-line::selection,
.cm-s-psdocs .CodeMirror-line > span::selection,
.cm-s-psdocs .CodeMirror-line > span > span::selection,
.cm-s-psdocs .CodeMirror-line::-moz-selection,
.cm-s-psdocs .CodeMirror-line > span::-moz-selection,
.cm-s-psdocs .CodeMirror-line > span > span::-moz-selection {
	@apply bg-code-hl-select;
}

.cm-s-psdocs.CodeMirror pre {
	@apply pl-1.5;
}

.cm-s-psdocs .CodeMirror-gutters {
	@apply border-r-[#4c4d50] bg-[#202325];
}

.cm-s-psdocs .CodeMirror-linenumber {
	@apply pl-1 pr-2.5 text-secondary-300;
}

.CodeMirror-activeline-gutter .CodeMirror-linenumber {
	@apply text-white;
}

.cm-s-psdocs .CodeMirror-cursor {
	@apply border-l-2 border-primary-300;
}

.cm-s-psdocs .cm-searching {
	@apply bg-primary-400 outline-1 outline-accent-400;
}

.cm-s-psdocs .cm-searching.CodeMirror-selectedtext {
	@apply bg-primary-300 outline-1 outline-accent-200;
}

.cm-s-psdocs .cm-stmt-general {
	@apply font-semibold text-code-stmt;
}

.cm-s-psdocs .cm-stmt-control,
.cm-s-psdocs .cm-stmt-control2 {
	@apply font-semibold text-code-ctrl;
}

.cm-s-psdocs .cm-expr {
	@apply font-light text-code-expr;
}

.cm-s-psdocs .cm-keyword,
.cm-s-psdocs .cm-operator {
	@apply text-code-neutral;
}

.cm-s-psdocs .cm-atom,
.cm-s-psdocs .cm-number {
	@apply text-code-value;
}

.cm-s-psdocs span.cm-type {
	@apply text-code-type;
}

.cm-s-psdocs .cm-symbol {
	@apply text-code-symbol;
}

.cm-s-psdocs .cm-function {
	@apply text-code-function;
}

.cm-s-psdocs .cm-comment {
	@apply font-normal italic text-code-comment;
}

.cm-s-psdocs .cm-string {
	@apply text-code-text;
}

.cm-s-psdocs .cm-string2 {
	@apply text-code-value;
}

.cm-s-psdocs .cm-link {
	@apply underline;
}

.cm-s-psdocs .cm-error {
	@apply border-b border-dotted border-code-error bg-[var(--tw-col-code-hl-error)] text-white;
}
